<div class="row">
  <div class="col">
    <img src="{{dolly.image}}" width="300" height="300" />
  </div>
  <div class="col">
    <h1>{{dolly.name}}</h1>
    <h3>Brand: {{dolly.brand}}</h3>
    <h3>Price: $ {{dolly.price}} </h3>
  </div>
</div>